body {
    font-family: 'Lalezar', 'Open Sans', sans-serif; 
}
ul {
    list-style-type: none;
    text-align: center;
}
li {
    float: right;
    padding: 16px;
}
.inputField{
    text-align: right;
    font-family: 'Lalezar', 'Open Sans', sans-serif; 
}
.dropdown_menu{
    
}